/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #14688a;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: rgb(138, 25, 100);
  position: sticky;
  top: 0;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
}

.navbar a:hover {
  color: #243d22;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero span {
  color: #5f5839;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #071e1f;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 60px 10%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background: #7a6df0;
  color: white;
  border-radius: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: white;
  margin-top: 30px;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: bold;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover {
  color: #7a6df0;
}

/* ACTIVE LINK */
.nav-link.active {
  color: #7a6df0;
  font-weight: bold;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #7a6df0;
  bottom: -5px;
  left: 0;
}